@model IEnumerable<AnnouncementView>
    @{
    ViewBag.Title = "Duyurular";
    ViewBag.ActivePage = "Announcement";
    }
    <link rel="stylesheet" href="~/css/profile.css">
    <link rel="stylesheet" href="~/css/User/announcement.css">
    <div class="container mt-3">
        <div id="alertDiv" class="alert alert-danger" style="display: none;"></div>
    </div>
    <div class="profile-container">

        @await Component.InvokeAsync("ProfileSidebar", new { profilePicture = ViewBag.ImageUrl, userName =
        ViewBag.UserName,
        activePage = ViewBag.ActivePage })
        <div class="profile-content">

            <div class="profile-card">
                <div class="profile-card-header">Duyurular</div>
                <div class="profile-card-body">

                    <div class="announcement-list">
                        @foreach (var announcement in Model){
                        <div class="announcement-card">
                            <div class="announcement-header">

                                <span class="announcement-date">@announcement.Timestamp.ToString("dd MMM yyyy")</span>
                            </div>
                            <div class="announcement-body">
                                <p>@announcement.Content</p>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
    @section Scripts {
    <script>
        // Eğer gerekli ise JavaScript kodları burada yer alabilir
    </script>
    }