@model List<MessageViewModel>
    @{
    ViewBag.Title = "Mesajlar";
    ViewBag.ActivePage = "Message";
    }
    <link rel="stylesheet" href="~/css/profile.css">
    <link rel="stylesheet" href="~/css/User/message.css">
    <div class="container mt-3">
        <div id="alertDiv" class="alert alert-danger" style="display: none;"></div>
    </div>
    <div class="profile-container">

        @await Component.InvokeAsync("ProfileSidebar", new { profilePicture = ViewBag.ImageUrl, userName =
        ViewBag.UserName, activePage = ViewBag.ActivePage })
        <div class="profile-content">

            <div class="profile-card">
                <div class="profile-card-header">
                    Mesajlar

                </div>
                <div class="profile-card-body">
                    <div class="message-list">
                        @foreach (var message in Model)
                        {
                        <div class="message-card">
                            <div class="message-header">

                                <span class="message-date">@message.Timestamp.ToString("dd MMM yyyy HH:mm")</span>
                                <button id="sendMessageBtn" class=" btn btn-success float-right"
                                    onclick="sendMessage('@message.ReceiverId','@message.SenderId')">Cevap
                                    Gönder</button>
                            </div>
                            <div class="message-body">
                                <p>@message.Content</p>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
    @section Scripts {
    <script>
        function sendMessage(hostId, userId) {

            Swal.fire({
                title: 'Mesaj Gönder',
                input: 'textarea',
                inputPlaceholder: 'Mesajınızı yazın...',
                showCancelButton: true,
                confirmButtonText: 'Gönder',
                cancelButtonText: 'İptal',
                preConfirm: async (message) => {
                    if (!message) {
                        Swal.showValidationMessage('Mesaj boş olamaz');
                        return;
                    }
                    try {
                        const response = await fetch(`@Url.Action("Message","Post")`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                senderId: hostId,
                                receiverId: userId,
                                content: message
                            })
                        });

                        const data = await response.json();
                        if (response.ok) {
                            Swal.fire('Başarılı', 'Mesaj gönderildi', 'success');
                        } else {
                            Swal.fire('Hata', `Mesaj gönderilirken bir hata meydana geldi: ${data.message}`, 'error');
                        }
                    } catch (error) {
                        Swal.fire('Hata', `Mesaj gönderilirken bir hata meydana geldi: ${error.message}`, 'error');
                    }
                }
            });
        }
    </script>
    }