@model LoginViewModel
<link rel="stylesheet" href="~/css/Auth/login.css">
<div class="login-container">
    <h2 class="login-title">Giriş Yap</h2>
    <form method="post" class="login-form" id="loginForm">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group mb-3">
            <label asp-for="Email">E-posta:</label>
            <input type="email" id="Email" asp-for="Email" class="form-control">
            <span id="EmailError" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="Password">Şifre:</label>
            <input type="password" id="Password" asp-for="Password" class="form-control">
            <span id="PasswordError" class="text-danger"></span>
        </div>
        <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
        <button type="submit" class="btn btn-primary">Giriş Yap</button>
    </form>
</div>
@section Scripts{

<script src="~/js/Auth/login.js"></script>

}