@model RegisterViewModel
@{
ViewBag.Title = "Kayıt Ol";}
<link rel="stylesheet" href="~/css/Auth/register.css">
<div class="register-container">
    <h2 class="register-title">Kayıt Ol</h2>
    <form method="post" class="register-form" id="registerForm">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row">
            <div class="form-group mb-3 col-6">
                <label asp-for="Name">Ad:</label>
                <input type="text" id="Name" asp-for="Name" class="form-control">
                <span id="NameError" class="text-danger"></span>
            </div>

            <div class="form-group mb-3 col-6">
                <label asp-for="Surname">Soyad:</label>
                <input type="text" id="Surname" asp-for="Surname" class="form-control">
                <span id="SurnameError" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group mb-3">
            <label asp-for="UserName">Kullanıcı Adı:</label>
            <input type="text" id="UserName" asp-for="UserName" class="form-control">
            <span id="UserNameError" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Email">E-posta:</label>
            <input type="email" id="Email" asp-for="Email" class="form-control">
            <span id="EmailError" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="Phone">Telefon:</label>
            <input type="tel" id="Phone" asp-for="Phone" class="form-control">
            <span id="PhoneError" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="Password">Şifre:</label>
            <input type="password" id="Password" asp-for="Password" class="form-control">
            <span id="PasswordError" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="ConfirmPassword">Şifre Tekrar:</label>
            <input type="password" id="ConfirmPassword" asp-for="ConfirmPassword" class="form-control">
            <span id="ConfirmPasswordError" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Kayıt Ol</button>
    </form>
</div>
@section Scripts{

<script>
    document.getElementById('registerForm').addEventListener('submit', function (event) {
        event.preventDefault();
        let isValid = true; // isValid başlangıçta true olarak tanımlanır

        isValid = validateField('Name', 'Ad alanı gereklidir.', isValid);
        isValid = validateField('Surname', 'Soyad alanı gereklidir.', isValid);
        isValid = validateField('UserName', 'Kullanıcı adı gereklidir.', isValid);
        isValid = validateField('Email', 'Geçerli bir e-posta adresi giriniz.', isValid);
        isValid = validateField('Phone', 'Geçerli bir telefon numarası giriniz.', isValid);
        isValid = validateField('Password', 'Şifre alanı gereklidir.', isValid);
        isValid = validateConfirmPassword('Password', 'ConfirmPassword', 'Şifreler eşleşmiyor.', isValid);

        if (isValid) {
            NProgress.start();
            var formData = new FormData(this);
            fetch('@Url.Action("Register", "Auth")', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        NProgress.done();
                        Swal.fire({
                            title: 'Success!',
                            text: data.message,
                            icon: 'success',
                            confirmButtonText: 'OK'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = data.redirectUrl;  // Başarılı kayıt sonrası yönlendirme
                            }
                        });
                    } else {
                        NProgress.done();
                        Swal.fire({
                            title: 'Error!',
                            text: data.message || "An error occurred.",
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }
                })
                .catch(error => {
                    NProgress.done();
                    console.error('Error:', error);
                    alert('Bir hata oluştu, lütfen daha sonra tekrar deneyiniz.');
                });
        }
    });


    // Alanlara girilen bilgiyi sürekli kontrol etmek
    document.querySelectorAll('#registerForm input').forEach(input => {
        input.addEventListener('input', function () {
            var errorSpan = this.nextElementSibling;
            if (this.classList.contains('invalid')) {
                this.classList.remove('invalid');
                errorSpan.textContent = '';
            }
        });
    });
    function validateField(id, errorMessage, isValid) {
        var input = document.getElementById(id);
        var errorSpan = document.getElementById(id + 'Error');
        if (!input.value.trim()) {
            input.classList.add('invalid');
            errorSpan.textContent = errorMessage;
            return false; // Eğer hata varsa, isValid false olarak döner
        } else {
            input.classList.remove('invalid');
            errorSpan.textContent = '';
            return isValid; // Mevcut isValid değerini döndürür
        }
    }

    function validateConfirmPassword(passwordId, confirmPasswordId, errorMessage, isValid) {
        var password = document.getElementById(passwordId);
        var confirmPassword = document.getElementById(confirmPasswordId);
        var errorSpan = document.getElementById(confirmPasswordId + 'Error');
        if (confirmPassword.value.trim() !== password.value.trim()) {
            confirmPassword.classList.add('invalid');
            errorSpan.textContent = errorMessage;
            return false; // Eğer hata varsa, isValid false olarak döner
        } else {
            confirmPassword.classList.remove('invalid');
            errorSpan.textContent = '';
            return isValid; // Mevcut isValid değerini döndürür
        }
    }
</script>
}