<div class="footer bg-light mt-auto py-3 mt-5">
    <div class="container content-containe">
        <span class="text-muted">© 2024 Muhammed Yasin Ozdemir. All Rights Reserved..</span>
    </div>
</div>