<link rel="stylesheet" href="~/css/Home/about.css">
@{
ViewBag.Title = "Hakkımızda";}
<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Hakkımızda</h1>
        <p class="lead">Toplumsal bağları güçlendirmek, yiyecek israfını önlemek ve güvenli gıda tüketimini teşvik etmek
            için buradayız.</p>
        <hr class="my-4">
        <h2>Misyonumuz</h2>
        <p>"Sofranı Paylaş" projesi, toplumsal bağları güçlendirmek, yiyecek israfını önlemek ve güvenli gıda tüketimini
            teşvik etmek amacıyla kurulmuş bir platformdur. Amacımız, insanları bir araya getirerek paylaşmanın ve
            birlikte yemenin güzelliklerini yeniden keşfetmelerini sağlamaktır.</p>
        <h2>Vizyonumuz</h2>
        <p>Daha sürdürülebilir ve sosyal açıdan bağlı bir dünya yaratmak. Toplumun her kesiminden insanları bir araya
            getirerek yemek paylaşımının toplumsal değerini artırmak ve gıda israfını en aza indirmek için bilinç
            oluşturmak.</p>
        <h2>Ne Yapıyoruz?</h2>
        <p>"Sofranı Paylaş" platformu, kullanıcıların yemek paylaşım etkinlikleri düzenlemelerini ve katılmalarını
            sağlayan bir uygulamadır. Kullanıcılar, yemek paylaşım etkinlikleri oluşturabilir, bu etkinliklere
            katılabilir ve topluluk içinde yeni insanlarla tanışabilirler. Ayrıca, yiyeceklerin güvenli bir şekilde
            paylaşılmasını sağlamak için gerekli önlemleri ve yönergeleri de sunuyoruz.</p>
        <h2>Değerlerimiz</h2>
        <ul>
            <li><strong>Topluluk:</strong> İnsanları bir araya getirmeyi ve birlikte güçlü bir topluluk oluşturmayı
                hedefliyoruz.</li>
            <li><strong>Paylaşım:</strong> Kaynakların adil ve bilinçli paylaşımını destekliyoruz.</li>
            <li><strong>Sürdürülebilirlik:</strong> Gıda israfını önlemek ve çevresel sürdürülebilirliği teşvik etmek
                için çalışıyoruz.</li>
            <li><strong>Güvenlik:</strong> Tüm yiyeceklerin güvenli ve sağlıklı bir şekilde paylaşılmasını sağlıyoruz.
            </li>
        </ul>
        <h2>Ekibimiz</h2>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <div class="card">
                    <img src="https://i.hizliresim.com/iv6rhxm.jpeg" class="card-img-top" alt="Mert">
                    <div class="card-body">
                        <h5 class="card-title">Muhammed Yasin Özdemir</h5>
                        <p class="card-text">Kurucu ve Proje Yöneticisi</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="https://i.hizliresim.com/iv6rhxm.jpeg" class="card-img-top" alt="Ali">
                    <div class="card-body">
                        <h5 class="card-title">Eren Doğan</h5>
                        <p class="card-text">Yazılım Geliştirici</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>

        </div>

    </div>
</div>