<link rel="stylesheet" href="~/css/Home/contact.css">
@{
ViewBag.Title = "İletişim";}
<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">İletişim</h1>
        <p class="lead">Sorularınız, önerileriniz veya geri bildirimleriniz için bizimle iletişime geçebilirsiniz.</p>
        <hr class="my-4">
        <h2>İletişim Bilgilerimiz</h2>
        <ul>
            <li><strong>E-posta:</strong> info@sofranipaylas.com</li>
            <li><strong>Telefon:</strong> +90 551 166 77 10</li>
            <li><strong>Adres:</strong> Başıbüyük, Süreyyapaşa Başıbüyük Yolu Sk No:6, 34854 Maltepe/İstanbul</li>
        </ul>
        <h2>Bize Mesaj Gönderin</h2>
        <hr>
        <form id="contactForm">
            <div class="form-group">
                <label for="name" class="form-label">Adınız</label>
                <input type="text" class="form-control" id="name" required>
            </div>
            <div class="form-group">
                <label for="email" class="form-label">E-posta</label>
                <input type="email" class="form-control" id="email" required>
            </div>
            <div class="form-group">
                <label for="message" class="form-label">Mesajınız</label>
                <textarea class="form-control" id="message" rows="5" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Gönder</button>
        </form>
    </div>
</div>
@section Scripts{

<script>
    document.getElementById('contactForm').addEventListener('submit', function (event) {
        event.preventDefault();

        const name = document.getElementById('name').value;
        const email = document.getElementById('email').value;
        const message = document.getElementById('message').value;

        const mailtoLink = `mailto:info@sofranipaylas.com?subject=İletişim Formu Mesajı&body=Ad: ${name}%0DE-posta: ${email}%0DMesaj: ${message}`;
        window.location.href = mailtoLink;
    });
</script>}